<header id="index_header" class="w3-bar w3-top" >
    <div class="w3-bar-item  " id="logo">
      Habesha <span id="logo_food">Food </span>
     </div>
   </header> <br> <br> <br>
   <div class="w3-center w3-card-4 container-div">
     <p id="logInMessage" class="w3-large">Habesha Food Log In</p>
     <div  *ngIf="loginError.error" class="alert alert-danger w3-center " style="margin-left:50px;margin-right:50px;padding:5px;"   >
      {{loginError.errorMessage}}
     </div>
     <form  [formGroup]="loginForm">
       <div class="w3-margin">
         <input required type="email" formControlName="email" [class.error]="loginForm.get('email').invalid && loginForm.get('email').touched" placeholder="Username" class="user-input" name="email" maxlength="255" >
       </div>
       <div class="w3-margin">
         <input required type="password"  formControlName="password" [class.error]="loginForm.get('password').invalid && loginForm.get('password').touched " maxlength="20" class="user-input" placeholder="Password" name="password" >
       </div>
       <div class="w3-margin">
         <input type="submit" (click)="onSubmit()"   id="loginBtn" name="login" value="Log in" class="w3-btn" >
       </div>

     </form>
     <div class="w3-center">
       <p >you do not sign up yet ? click here to create account <a  routerLink="/signup" id="createAccount">create account</a></p>

     </div>

   </div>

