
    #submit_acc{
      background-color: #E93E21;
      color: white;
         }
         @keyframes fading {
           from{background-color:rgba(15, 15, 16, 0.2) }
          to{background-color:rgba(15, 15, 16, 0.5803921568627451); }
         }
       #detailInLarge{
           width:87%;color:#ffffff ;float:left;font-size:34px;
       }
       #detailInMedium{
         float:left;font-size:20px;
       }
       @media (min-width:700px) {
         #theWholeRow{
           background-image:url('../../food ordering/images/restuarant.jpg');
           background-size:cover;
           padding-bottom:25%;
         }
         .inputs{
            width:300px;
            margin-bottom:5px;
            background-color:rgba(0,0,0,0.4);
            color:white ;
            padding:10px;
         }
         #detail{
           width:87%;
            color:#45a6f45b;
            text-align: center;
            font-size:20px;
            background-color:rgba(0,0,0,0.1);
            border-radius:20px;
         }
         input:focus{
             outline: none;
             background-color:rgba(0,0,0,0.2);color:white;
             /* border-bottom: 2px solid #865a7bc8; */
             border-bottom: 2px solid teal;
         }
         input{
             border: none;
              padding:5px;
             }

             #index_header{
                  padding-bottom:15px;
             }
             #errormessage{
             width:50%;
             border:1px dotted teal;
             padding:10px;
             margin-left:10%;
             background-color:rgba(15, 15, 16, 0.5803921568627451);
             animation-name:fading;
             animation-duration: 1s;
             color:red;
             }
             #errorphp{
               width:50%;
               border:1px dotted teal;
               padding:10px;
               margin-left:10%;
               background-color:rgba(15, 15, 16, 0.5803921568627451);
               animation-name:fading;
               animation-duration: 1s;
               color:red;
             }
             #detailInMedium{
               color:white
             }
                              }
  @media (max-width:700px) {
    .inputs{
       margin:0px;
       width:90%;
       padding:5px;
     }
     #detailInMedium{
       margin-top:10px;
       color:teal
     }
     #errormessage{
     width:90%;
     padding:5px;
     background-color: #efabb3;
     color:red;
     }

   #errorphp{
     width:90%;
     padding:5px;
     background-color: #efabb3;
     color:red;
   }
 }

      #index_header{
       padding:0px;
       margin:0px;
      }
      #register_message{
       opacity:0.8;
       background-color: #111018;
      }
