<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width " />
    <title>cafe registration</title>
</head>

<body>
    <app-admin-header></app-admin-header>
    <!-- successful message -->
    <div id="messsagearea" [class.hideMessage]="hideMessage">
        <div class="" id="messagebody">
            <div id="message" style="margin-top:50px;background-color:rgba(29, 42, 49);padding:20px;">
                <span class="w3-large w3-text-white">you successfully registered!</span>
                <span class="w3-text-red w3-large w3-hover-text-teal" (click)="hideMessage=true" style="float:right;" id="messageX"> x </span>
            </div>
        </div>
    </div>

    <br /><br />
    <form class="" [formGroup]="registrationForm" class="form">
        <div class="w3-row ">
            <div class="w3-col s12 m6 l6 w3-padding-large">

                <input type="text" class="w3-round-large w3-margin" placeholder=" your cafe name " name="cafename" value="" style="width:90%;" formControlName="cafename" />

                <div *ngIf="registrationForm.get('cafename').invalid && registrationForm.get('cafename').touched" class="error">
                    <small *ngIf="registrationForm.get('cafename').errors.required"> this field is required </small>
                </div>

                <input type="text" name="firstname" class="w3-round-large w3-margin" value="" placeholder="first name" style="width:90%;" formControlName="firstname" pattern="^[a-zA-Z]*$" />

                <div *ngIf="registrationForm.get('firstname').invalid && registrationForm.get('firstname').touched" class="error">
                    <small *ngIf="registrationForm.get('firstname').errors.required"> this field is required </small>
                    <small *ngIf="registrationForm.get('firstname').errors.pattern"> please enter valid name</small>
                </div>

                <input type="text" id="input-field" name="phonenumber" placeholder="phone number" pattern="^(\+2519)[0-9]{8}$" class="w3-round-large w3-margin" value="" style="width:90%;" formControlName="phonenumber" />

                <div *ngIf="registrationForm.get('phonenumber').invalid && registrationForm.get('phonenumber').touched" class="error">
                    <small *ngIf="registrationForm.get('phonenumber').errors.required"> this field is required </small>
                    <small *ngIf="registrationForm.get('phonenumber').errors.pattern"> please enter valid phonenumber</small>
                </div>

            </div>

            <div class="w3-col s12 m6 l6 w3-padding-large">

                <input type="email" name="email" class="w3-round-large w3-margin" value="" placeholder="Email" style="width:90%;" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />

                <div *ngIf="(registrationForm.get('email').invalid && registrationForm.get('email').touched)" class="error">
                    <small *ngIf="registrationForm.get('email').errors.required"> this field is required </small>
                    <small *ngIf="registrationForm.get('email').errors.pattern"> please enter valid email</small>
                </div>

                <small *ngIf="this.emailError.error && registrationForm.get('email').valid" class="error"> {{this.emailError.message}}</small>

                <input type="text" class="w3-round-large w3-margin" name="lastname" value="" style="width:90%;" placeholder="last name" formControlName="lastname" pattern="^[a-zA-Z]*$" />

                <div *ngIf="registrationForm.get('lastname').invalid && registrationForm.get('lastname').touched" class="error">
                    <small *ngIf="registrationForm.get('lastname').errors.required"> this field is required </small>
                    <small *ngIf="registrationForm.get('lastname').errors.pattern"> please enter valid name</small>
                </div>

                <input type="text" class="w3-round-large w3-margin" name="id" value="" style="width:90%;" placeholder="Id" formControlName="idnumber" />

                <select formControlName="gender" name="gender" class="w3-margin inputs" style="width:90%;">
                    <option value="" disabled>gender</option>
                    <option value="female" name="genderoption">female</option>
                    <option value="male" name="genderoption">male</option>
                </select>
                <div *ngIf="registrationForm.get('gender').invalid && registrationForm.get('gender').touched" class="error">

                    <small *ngIf="registrationForm.get('gender').invalid"> this field is required </small>
                </div>

            </div>

        </div>
        <button (click)="onSubmit()" [disabled]="registrationForm.invalid||disableSubmit" style="margin-right:30px;background-color:#E93E21;margin-bottom:20px;float:right;" class="w3-btn w3-round w3-text-white "> Register </button>
    </form>
</body>

</html>