<header id="index_header" class="w3-bar" style="padding:0px;padding-bottom:15px;margin:0px; ">
    <div class="" id="sidebarofcafereg" *ngIf="showSideBar">
        <div class="w3-sidebar w3-black w3-bar-block w3-animate-left w3-card" style="width:50%">
            <div class=" w3-btn w3-large w3-bar-item w3-text-white" style="color:#82B440;">
                <i class="fa fa-user w3-padding-small  w3-text-teal  w3-circle"></i> {{user.firstname}} {{user.lastname}}
                <span (click)="closeSideBar()" class="fa fa-times w3-hover-text-red w3-btn w3-large" style="color:red;float:right; ">
                </span>
            </div>
            <a href="/orders" class="fa fa-cutlery w3-btn w3-large w3-bar-item w3-hover-text-teal" style="color:#27b5df"> Orders</a>
            <a href="/myaccount" class=" fa fa-pencil-square w3-btn w3-large w3-bar-item w3-hover-text-teal" style="color:#27b5df">My account</a>
            <a href="/password" class=" fa fa-key w3-btn  w3-bar-item  w3-large w3-hover-text-teal" style="color:#27b5df;">Change Password </a>
            <a routerLink="/logout" class=" fa fa-sign-out  w3-btn w3-large w3-bar-item w3-hover-text-teal" style="color:#27b5df"> log out</a>
        </div>
    </div>
    <button class="fa fa-bars w3-btn w3-xlarge w3-bar-item" style="color:#82B440;float:left " (click)="showsideBar()">
  </button>

    <div class="w3-bar-item" id="logo">
        <a routerLink="/cart"><i class="fa fa-cart-plus w3-text-teal "> </i></a>
    </div>
    <div class="w3-bar-item w3-text-white " id="cafeName" (click)="list()">
        <i class="fa fa-user w3-padding-small w3-text-teal  w3-circle"></i>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <button type="button" class="w3-bar-item" id="search" (click)="showSearchInput()">
      <i class="fa fa-search w3-text-white"></i>
    </button>
        <input *ngIf="searchInputVisible" type="search" formControlName="searchedItem" class="w3-bar-item w3-animate-top" id="searchInput" placeholder="search" autocomplete="on">
    </form>
</header>