<app-admin-header></app-admin-header> <br><br><br>
<div class="form-group w3-margin w3-border w3-padding">
    <input class="form-control w3-margin" type="number" placeholder="User Id">
    <input class="form-control w3-margin" type="text" placeholder="Amount">
    <input type="submit" value="Add Amount" class="btn w3-teal">
</div> <br>

<div class="form-group w3-margin w3-border w3-padding">
    <input class="form-control w3-margin" type="number" placeholder="User Id">
    <input class="form-control w3-margin" type="text" placeholder="Amount">
    <input type="submit" value="Drop Amount" class="btn w3-teal">
</div><br>

<div class="form-group w3-margin w3-border w3-padding">
    <input class="form-control w3-margin" type="number" placeholder="User Id">
    <input class="form-control w3-margin" type="text" placeholder="Amount">
    <input type="submit" value="WithDraw" class="btn w3-teal">
</div>